In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('municipality_bus_utilization.csv')
df.head()

             timestamp  municipality_id  usage  total_capacity
0  2017-06-04 07:59:42                9    454            1332
1  2017-06-04 07:59:42                8    556            2947
2  2017-06-04 07:59:42                4   1090            3893
3  2017-06-04 07:59:42                0    204            2813
4  2017-06-04 07:59:42                7    718            2019

In [3]:
df.tail()

                 timestamp  municipality_id  usage  total_capacity
13065  2017-08-19 16:30:35                2    548             697
13066  2017-08-19 16:30:35                8   1193            2947
13067  2017-08-19 16:30:35                7   1354            2019
13068  2017-08-19 16:30:35                6   1680            3113
13069  2017-08-19 16:30:35                3   1189            1930

In [4]:
df.shape

(13070, 4)

In [5]:
df['free_to_use'] = df['total_capacity'] - df['usage']
df

,timestamp,municipality_id,usage,total_capacity,free_to_use
0,2017-06-04 07:59:42,9,454,1332,878
1,2017-06-04 07:59:42,8,556,2947,2391
2,2017-06-04 07:59:42,4,1090,3893,2803
3,2017-06-04 07:59:42,0,204,2813,2609
4,2017-06-04 07:59:42,7,718,2019,1301
...,...,...,...,...,...
13065,2017-08-19 16:30:35,2,548,697,149
13066,2017-08-19 16:30:35,8,1193,2947,1754
13067,2017-08-19 16:30:35,7,1354,2019,665
13068,2017-08-19 16:30:35,6,1680,3113,1433
13069,2017-08-19 16:30:35,3,1189,1930,741

In [6]:
(df['free_to_use'] <= 0).sum()

241

In [7]:
(df['free_to_use'] < 0 ).sum()

229

In [8]:
df[df['free_to_use'] < 0 ]

,timestamp,municipality_id,usage,total_capacity,free_to_use
7618,2017-07-17 12:04:02,1,399,397,-2
7621,2017-07-17 12:31:03,1,401,397,-4
7635,2017-07-17 13:04:03,1,399,397,-2
7648,2017-07-17 13:31:03,1,403,397,-6
7659,2017-07-17 14:04:03,1,403,397,-6
...,...,...,...,...,...
13010,2017-08-19 14:03:31,1,408,397,-11
13026,2017-08-19 14:30:33,1,410,397,-13
13037,2017-08-19 15:03:34,1,408,397,-11
13048,2017-08-19 15:29:33,1,411,397,-14
13053,2017-08-19 16:03:35,1,401,397,-4

In [9]:
df[df['free_to_use'] < 0 ]['municipality_id'].value_counts()

1    229
Name: municipality_id, dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13070 entries, 0 to 13069
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   timestamp        13070 non-null  object
 1   municipality_id  13070 non-null  int64
 2   usage            13070 non-null  int64
 3   total_capacity   13070 non-null  int64
 4   free_to_use      13070 non-null  int64
dtypes: int64(4), object(1)
memory usage: 510.7+ KB

In [ ]:
df = df.sort_values('timestamp' , ascending=True)
df

In [11]:
df['timestamp'].value_counts(dropna=False)

2017-06-04 07:59:42    10
2017-07-22 15:31:37    10
2017-07-23 15:31:42    10
2017-07-23 15:04:43    10
2017-07-23 14:30:43    10
                       ..
2017-08-19 16:30:35    10
2017-06-16 14:34:14     9
2017-08-11 08:25:43     9
2017-06-16 14:27:13     1
2017-08-11 08:19:39     1
Name: timestamp, Length: 1309, dtype: int64

In [12]:
df[df['timestamp'] == '2017-06-16 14:27:13']

                timestamp  municipality_id  usage  total_capacity  free_to_use
2290  2017-06-16 14:27:13                5    189             587          398

In [13]:
df[df['timestamp'] == '2017-06-16 14:34:14']

                timestamp  municipality_id  usage  total_capacity  free_to_use
2291  2017-06-16 14:34:14                4   1348            3893         2545
2292  2017-06-16 14:34:14                3    803            1930         1127
2293  2017-06-16 14:34:14                7   1294            2019          725
2294  2017-06-16 14:34:14                1    338             397           59
2295  2017-06-16 14:34:14                9    754            1332          578
2296  2017-06-16 14:34:14                0    497            2813         2316
2297  2017-06-16 14:34:14                2    549             697          148
2298  2017-06-16 14:34:14                6    983            3113         2130
2299  2017-06-16 14:34:14                8    877            2947         2070

In [15]:
df[df['timestamp'] == '2017-08-11 08:19:39']

,timestamp,municipality_id,usage,total_capacity,free_to_use
11480,2017-08-11 08:19:39,3,313,1930,1617

In [16]:
df[df['timestamp'] == '2017-08-11 08:25:43']

,timestamp,municipality_id,usage,total_capacity,free_to_use
11481,2017-08-11 08:25:43,4,782,3893,3111
11482,2017-08-11 08:25:43,8,450,2947,2497
11483,2017-08-11 08:25:43,5,11,587,576
11484,2017-08-11 08:25:43,9,379,1332,953
11485,2017-08-11 08:25:43,7,739,2019,1280
11486,2017-08-11 08:25:43,2,369,697,328
11487,2017-08-11 08:25:43,0,344,2813,2469
11488,2017-08-11 08:25:43,6,808,3113,2305
11489,2017-08-11 08:25:43,1,132,397,265

In [ ]:
# df[df['timestamp'] == '2017-06-16 14:27:13']['timestamp'] = '2017-06-16 14:34:14'

In [17]:
df.loc[df['timestamp'] == '2017-06-16 14:27:13', 'timestamp'] = '2017-06-16 14:34:14'
df.loc[df['timestamp'] == '2017-08-11 08:19:39', 'timestamp'] = '2017-08-11 08:25:43'

In [18]:
df['timestamp'].value_counts(dropna=False)

2017-06-04 07:59:42    10
2017-07-22 15:57:37    10
2017-07-23 16:04:46    10
2017-07-23 15:31:42    10
2017-07-23 15:04:43    10
                       ..
2017-06-30 09:25:57    10
2017-06-30 08:59:52    10
2017-06-30 08:25:53    10
2017-06-30 07:59:55    10
2017-08-19 16:30:35    10
Name: timestamp, Length: 1307, dtype: int64

In [19]:
df['municipality_id'].value_counts(dropna=False)

9    1307
8    1307
4    1307
0    1307
7    1307
5    1307
2    1307
1    1307
6    1307
3    1307
Name: municipality_id, dtype: int64

In [20]:
df['total_capacity'].value_counts(dropna=False)

1332    1307
2947    1307
3893    1307
2813    1307
2019    1307
587     1307
697     1307
397     1307
3113    1307
1930    1307
Name: total_capacity, dtype: int64

In [21]:
df['usage'].value_counts(dropna=False)

411     69
354     62
399     31
410     28
623     27
        ..
2830     1
2783     1
2664     1
2463     1
1680     1
Name: usage, Length: 2346, dtype: int64

In [22]:
df['timestamp'] = df['timestamp'].astype('datetime64')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13070 entries, 0 to 13069
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   timestamp        13070 non-null  datetime64[ns]
 1   municipality_id  13070 non-null  int64
 2   usage            13070 non-null  int64
 3   total_capacity   13070 non-null  int64
 4   free_to_use      13070 non-null  int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 510.7 KB

In [24]:
df.groupby('timestamp').max()

                     municipality_id  usage  total_capacity  free_to_use
timestamp
2017-06-04 07:59:42                9   1090            3893         2803
2017-06-04 08:25:42                9   1476            3893         2566
2017-06-04 08:59:42                9   2016            3893         2481
2017-06-04 09:32:46                9   2511            3893         2384
2017-06-04 09:59:48                9   2811            3893         2328
...                              ...    ...             ...          ...
2017-08-19 14:30:33                9   3176            3893         1606
2017-08-19 15:03:34                9   3111            3893         1611
2017-08-19 15:29:33                9   2980            3893         1632
2017-08-19 16:03:35                9   2779            3893         1694
2017-08-19 16:30:35                9   2542            3893         1754

[1307 rows x 4 columns]

In [25]:
df.groupby('timestamp').min()

                     municipality_id  usage  total_capacity  free_to_use
timestamp
2017-06-04 07:59:42                0     70             397          268
2017-06-04 08:25:42                0     73             397          259
2017-06-04 08:59:42                0     89             397          233
2017-06-04 09:32:46                0    116             397          184
2017-06-04 09:59:48                0    159             397          152
...                              ...    ...             ...          ...
2017-08-19 14:30:33                0    318             397          -13
2017-08-19 15:03:34                0    309             397          -11
2017-08-19 15:29:33                0    283             397          -14
2017-08-19 16:03:35                0    239             397           -4
2017-08-19 16:30:35                0    202             397            1

[1307 rows x 4 columns]

In [ ]:
# df['timestamp'].head(50)

In [ ]:
# df['timestamp'].tail(50)

In [ ]:
# df['timestamp'][0].second

In [26]:
for i in range(df.shape[0]):
    if df['timestamp'][i].minute == 0 :
        print(i)

3400
3401
3402
3403
3404
3405
3406
3407
3408
3409
3420
3421
3422
3423
3424
3425
3426
3427
3428
3429
3440
3441
3442
3443
3444
3445
3446
3447
3448
3449
4450
4451
4452
4453
4454
4455
4456
4457
4458
4459
4470
4471
4472
4473
4474
4475
4476
4477
4478
4479
4490
4491
4492
4493
4494
4495
4496
4497
4498
4499
4510
4511
4512
4513
4514
4515
4516
4517
4518
4519
4530
4531
4532
4533
4534
4535
4536
4537
4538
4539
4550
4551
4552
4553
4554
4555
4556
4557
4558
4559
4570
4571
4572
4573
4574
4575
4576
4577
4578
4579
4610
4611
4612
4613
4614
4615
4616
4617
4618
4619
4630
4631
4632
4633
4634
4635
4636
4637
4638
4639
4670
4671
4672
4673
4674
4675
4676
4677
4678
4679
4690
4691
4692
4693
4694
4695
4696
4697
4698
4699
4710
4711
4712
4713
4714
4715
4716
4717
4718
4719
4730
4731
4732
4733
4734
4735
4736
4737
4738
4739
4750
4751
4752
4753
4754
4755
4756
4757
4758
4759
4770
4771
4772
4773
4774
4775
4776
4777
4778
4779
4790
4791
4792
4793
4794
4795
4796
4797
4798
4799
4810
4811
4812
4813
4814
4815
4816
4817
4818
4819
5010
5011
5012
5013
5014
5015
5016
5017
5018
5019
5030
5031
5032
5033
5034
5035
5036
5037
5038
5039
5050
5051
5052
5053
5054
5055
5056
5057
5058
5059
5070
5071
5072
5073
5074
5075
5076
5077
5078
5079
5090
5091
5092
5093
5094
5095
5096
5097
5098
5099
5150
5151
5152
5153
5154
5155
5156
5157
5158
5159
5190
5191
5192
5193
5194
5195
5196
5197
5198
5199
5230
5231
5232
5233
5234
5235
5236
5237
5238
5239
5250
5251
5252
5253
5254
5255
5256
5257
5258
5259
5270
5271
5272
5273
5274
5275
5276
5277
5278
5279
5290
5291
5292
5293
5294
5295
5296
5297
5298
5299
5330
5331
5332
5333
5334
5335
5336
5337
5338
5339
5350
5351
5352
5353
5354
5355
5356
5357
5358
5359
5370
5371
5372
5373
5374
5375
5376
5377
5378
5379
5470
5471
5472
5473
5474
5475
5476
5477
5478
5479
5510
5511
5512
5513
5514
5515
5516
5517
5518
5519
5530
5531
5532
5533
5534
5535
5536
5537
5538
5539
5550
5551
5552
5553
5554
5555
5556
5557
5558
5559
5570
5571
5572
5573
5574
5575
5576
5577
5578
5579
5590
5591
5592
5593
5594
5595
5596
5597
5598
5599
5690
5691
5692
5693
5694
5695
5696
5697
5698
5699
5730
5731
5732
5733
5734
5735
5736
5737
5738
5739
5870
5871
5872
5873
5874
5875
5876
5877
5878
5879
5890
5891
5892
5893
5894
5895
5896
5897
5898
5899
5970
5971
5972
5973
5974
5975
5976
5977
5978
5979
6010
6011
6012
6013
6014
6015
6016
6017
6018
6019
6030
6031
6032
6033
6034
6035
6036
6037
6038
6039
6050
6051
6052
6053
6054
6055
6056
6057
6058
6059
6090
6091
6092
6093
6094
6095
6096
6097
6098
6099
6110
6111
6112
6113
6114
6115
6116
6117
6118
6119
6130
6131
6132
6133
6134
6135
6136
6137
6138
6139
6150
6151
6152
6153
6154
6155
6156
6157
6158
6159
6170
6171
6172
6173
6174
6175
6176
6177
6178
6179
6190
6191
6192
6193
6194
6195
6196
6197
6198
6199
6210
6211
6212
6213
6214
6215
6216
6217
6218
6219
6230
6231
6232
6233
6234
6235
6236
6237
6238
6239
6250
6251
6252
6253
6254
6255
6256
6257
6258
6259
6270
6271
6272
6273
6274
6275
6276
6277
6278
6279
6290
6291
6292
6293
6294
6295
6296
6297
6298
6299
6310
6311
6312
6313
6314
6315
6316
6317
6318
6319
6330
6331
6332
6333
6334
6335
6336
6337
6338
6339
6350
6351
6352
6353
6354
6355
6356
6357
6358
6359
6370
6371
6372
6373
6374
6375
6376
6377
6378
6379
6390
6391
6392
6393
6394
6395
6396
6397
6398
6399
6410
6411
6412
6413
6414
6415
6416
6417
6418
6419
6430
6431
6432
6433
6434
6435
6436
6437
6438
6439
6450
6451
6452
6453
6454
6455
6456
6457
6458
6459
6470
6471
6472
6473
6474
6475
6476
6477
6478
6479
6490
6491
6492
6493
6494
6495
6496
6497
6498
6499
6510
6511
6512
6513
6514
6515
6516
6517
6518
6519
6530
6531
6532
6533
6534
6535
6536
6537
6538
6539
6550
6551
6552
6553
6554
6555
6556
6557
6558
6559
6570
6571
6572
6573
6574
6575
6576
6577
6578
6579
6590
6591
6592
6593
6594
6595
6596
6597
6598
6599
6610
6611
6612
6613
6614
6615
6616
6617
6618
6619
6630
6631
6632
6633
6634
6635
6636
6637
6638
6639
6650
6651
6652
6653
6654
6655
6656
6657
6658
6659
6670
6671
6672
6673
6674
6675
6676
6677
6678
6679
6690
6691
6692
6693
6694
6695
6696
6697
6698
6699
6710
6711
6712
6713
6714
6715
6716
6717
6718
6719
6730
6731
6732
6733
6734
6735
6736
6737
6738
6739
6750
6751
6752
6753
6754
6755
6756
6757
6758
6759
6770
6771
6772
6773
6774
6775
6776
6777
6778
6779
6790
6791
6792
6793
6794
6795
6796
6797
6798
6799
6810
6811
6812
6813
6814
6815
6816
6817
6818
6819
6830
6831
6832
6833
6834
6835
6836
6837
6838
6839
6850
6851
6852
6853
6854
6855
6856
6857
6858
6859
6870
6871
6872
6873
6874
6875
6876
6877
6878
6879
6890
6891
6892
6893
6894
6895
6896
6897
6898
6899
6930
6931
6932
6933
6934
6935
6936
6937
6938
6939
6950
6951
6952
6953
6954
6955
6956
6957
6958
6959
6970
6971
6972
6973
6974
6975
6976
6977
6978
6979
6990
6991
6992
6993
6994
6995
6996
6997
6998
6999
7010
7011
7012
7013
7014
7015
7016
7017
7018
7019
7030
7031
7032
7033
7034
7035
7036
7037
7038
7039
7050
7051
7052
7053
7054
7055
7056
7057
7058
7059
7070
7071
7072
7073
7074
7075
7076
7077
7078
7079
7090
7091
7092
7093
7094
7095
7096
7097
7098
7099
7110
7111
7112
7113
7114
7115
7116
7117
7118
7119
7130
7131
7132
7133
7134
7135
7136
7137
7138
7139
7150
7151
7152
7153
7154
7155
7156
7157
7158
7159
7350
7351
7352
7353
7354
7355
7356
7357
7358
7359
7370
7371
7372
7373
7374
7375
7376
7377
7378
7379
7390
7391
7392
7393
7394
7395
7396
7397
7398
7399
7410
7411
7412
7413
7414
7415
7416
7417
7418
7419
7430
7431
7432
7433
7434
7435
7436
7437
7438
7439
7450
7451
7452
7453
7454
7455
7456
7457
7458
7459
7470
7471
7472
7473
7474
7475
7476
7477
7478
7479
7490
7491
7492
7493
7494
7495
7496
7497
7498
7499
7510
7511
7512
7513
7514
7515
7516
7517
7518
7519
8780
8781
8782
8783
8784
8785
8786
8787
8788
8789
8800
8801
8802
8803
8804
8805
8806
8807
8808
8809
8840
8841
8842
8843
8844
8845
8846
8847
8848
8849
8860
8861
8862
8863
8864
8865
8866
8867
8868
8869
8960
8961
8962
8963
8964
8965
8966
8967
8968
8969
8970
8971
8972
8973
8974
8975
8976
8977
8978
8979
8990
8991
8992
8993
8994
8995
8996
8997
8998
8999
9010
9011
9012
9013
9014
9015
9016
9017
9018
9019
9030
9031
9032
9033
9034
9035
9036
9037
9038
9039
9050
9051
9052
9053
9054
9055
9056
9057
9058
9059
9070
9071
9072
9073
9074
9075
9076
9077
9078
9079
9090
9091
9092
9093
9094
9095
9096
9097
9098
9099
9110
9111
9112
9113
9114
9115
9116
9117
9118
9119
12250
12251
12252
12253
12254
12255
12256
12257
12258
12259
12270
12271
12272
12273
12274
12275
12276
12277
12278
12279
12290
12291
12292
12293
12294
12295
12296
12297
12298
12299
12310
12311
12312
12313
12314
12315
12316
12317
12318
12319
12550
12551
12552
12553
12554
12555
12556
12557
12558
12559
12590
12591
12592
12593
12594
12595
12596
12597
12598
12599
12610
12611
12612
12613
12614
12615
12616
12617
12618
12619
12630
12631
12632
12633
12634
12635
12636
12637
12638
12639
12650
12651
12652
12653
12654
12655
12656
12657
12658
12659

In [27]:
df.iloc[3400,:]

timestamp          2017-06-24 16:00:04
municipality_id                      1
usage                              272
total_capacity                     397
free_to_use                        125
Name: 3400, dtype: object

In [28]:
df.iloc[13039,:]

timestamp          2017-08-19 15:03:34
municipality_id                      6
usage                             1829
total_capacity                    3113
free_to_use                       1284
Name: 13039, dtype: object

In [ ]:
# df.iloc[3340:3370,:].head(80)

In [ ]:
# for i in range(df.shape[0]):
#     if df['timestamp'][i].hour == 7 :
#         print(i)

In [ ]:
# for i in range(df.shape[0]):
#     if df['timestamp'][i].minute > 50 :
#         print(i)

In [29]:
counter7 = 0
counter8 = 0
counter9 = 0
counter10 = 0
counter11 = 0
counter12 = 0
counter13 = 0
counter14 = 0
counter15 = 0
counter16 = 0

for i in range(df.shape[0]):
    if df['timestamp'][i].hour == 7 :
        counter7 += 1
    elif df['timestamp'][i].hour == 8 :
        counter8 += 1
    elif df['timestamp'][i].hour == 9 :
        counter9 += 1
    elif df['timestamp'][i].hour == 10 :
        counter10 += 1
    elif df['timestamp'][i].hour == 11 :
        counter11 += 1
    elif df['timestamp'][i].hour == 12 :
        counter12 += 1
    elif df['timestamp'][i].hour == 13 :
        counter13 += 1
    elif df['timestamp'][i].hour == 14 :
        counter14 += 1
    elif df['timestamp'][i].hour == 15 :
        counter15 += 1
    elif df['timestamp'][i].hour == 16 :
        counter16 += 1
    elif df['timestamp'][i].hour == 17 :
        print('Warning !')

In [30]:
print(f"total {counter7} data at 7 o'clock")
print(f"total {counter8} data at 8 o'clock")
print(f"total {counter9} data at 9 o'clock")
print(f"total {counter10} data at 10 o'clock")
print(f"total {counter11} data at 11 o'clock")
print(f"total {counter12} data at 12 o'clock")
print(f"total {counter13} data at 13 o'clock")
print(f"total {counter14} data at 14 o'clock")
print(f"total {counter15} data at 15 o'clock")
print(f"total {counter16} data at 16 o'clock")

total 260 data at 7 o'clock
total 1450 data at 8 o'clock
total 1490 data at 9 o'clock
total 1410 data at 10 o'clock
total 1460 data at 11 o'clock
total 1420 data at 12 o'clock
total 1520 data at 13 o'clock
total 1450 data at 14 o'clock
total 1450 data at 15 o'clock
total 1160 data at 16 o'clock

In [ ]:
df['timestamp'][0]

In [ ]:
df['month'] = df['timestamp'].apply(lambda x : x.month)
df['day'] = df['timestamp'].apply(lambda x : x.day)
df['hour'] = df['timestamp'].apply(lambda x : x.hour)

In [ ]:
df

In [ ]:
plt.figure(figsize=(16,6))

df.groupby(["month","day"])["usage"].sum().plot();

In [ ]:
plt.figure(figsize=(16,6))

df.groupby(["month","day",'hour'])["usage"].sum().plot();

In [ ]:
# plt.figure(figsize=(12,4))

# df.groupby(["hour"])["usage"].sum().plot();                       # !Meaningless

In [ ]:
df_0 = df[df['municipality_id'] == 0]
df_1 = df[df['municipality_id'] == 1]
df_2 = df[df['municipality_id'] == 2]
df_3 = df[df['municipality_id'] == 3]
df_4 = df[df['municipality_id'] == 4]
df_5 = df[df['municipality_id'] == 5]
df_6 = df[df['municipality_id'] == 6]
df_7 = df[df['municipality_id'] == 7]
df_8 = df[df['municipality_id'] == 8]
df_9 = df[df['municipality_id'] == 9]

# Problems I've found so far

1) Either the total_capacity of the municipality with id number 1 was entered incorrectly or the usage information of 229 data was entered incorrectly.
2) The time of 2 data was entered incorrectly (Solved)
3) dtype of timestap feature was object (Solved)
4) After the 3400.index, it changes to a new hour and the minute becomes 0. Should we leave the data after 3400 as it is and count at the hour it is found or should we include it in the previous hour ?
5)

In [ ]:
df.groupby('timstamp')

In [ ]:
df